@charset "UTF-8";
/* CSS Document */
h1 {
	text-align: center;
	color: goldenrod;
	font-family: 'Butcherman';
	padding: 0px 0px 5px 20px;
	
}
p {
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
div {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display: block;
	padding: 5px 0px 10px 15px;
	text-align: center;
	border-top: 1px dotted;
	border-top-color: darkgray;
	background: rgba(50,50,50,0.4);
}
body {
	background-color: darkgray;
	color: darkgray;
	background-image: url(../background.png);
}
*{padding:0px;margin: 0px;}
#group {
	width: 60%;
	margin: 0 auto;
}
.buttons {
	color: antiquewhite;
	width: 100px;
	height: 25px;
  	background : #C1272D;
  	background : rgba(193, 39, 45, 1);
  	border-style : none;
  	border-radius : 8px;
  	-moz-border-radius : 8px;
  	-webkit-border-radius : 8px;
}
.title {
	color: darkgoldenrod;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}
